.slide-item {
  color: #212121;

  & h2 {
    font-size: 30px; // fallback
    font-size: 50vh;
  }

  &.guessed {
    background: #00E676;
  }

  &.mistake {
    background: #FF5722;
  }
}

.slider-back-button,
.slider-selected-card-button {
  z-index: 1000;
}
