<ion-content padding class="comparison-table">

  <div class="cont">
    <ul class="abc">
      <li *ngFor="#card of deck.cards" [ngClass]="{'not-guessed': !card.guessed, mistaken: card.mistakenly}"
          class="abc-letter {{card.prop.css.card}}">
        <a (click)="guessCard(card)" *ngIf="card.guessed === false">
          <div class="abc-letter-face"><span class="abc-letter-char"></span><span class="abc-letter-backing"></span></div>
            {{card.value}}
        </a>
        <span *ngIf="card.guessed === true" class="abc-letter-char">
            {{card.value}}
        </span>
      </li>
    </ul>
  </div>

</ion-content>

<button small fab fab-bottom fab-left nav-pop class="on-top back-fab" secondary>
  <ion-icon name="arrow-round-back"></ion-icon>
</button>

<button large fab fab-bottom fab-right class="on-top letter-fab">
  {{card.value}}
</button>
