$green-color: #8bc34a;
$red-color: #FF5722;

.cards-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;

  & > .cards-list-item {
    font-family: ugo-line, Arial, sans-serif;
    display: inline-flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    margin: 5px;
    border-radius: 10px;

    &.not-guessed {
      background: darkgray;
      color: #fff !important;
    }

    &.mistaken {
      background: #E2302E;
      color: white;
    }

    &.c-red {
      color: #E2302E;
    }

    &.c-blue {
      color: #3F92D6;
    }

    &.c-lgreen {
      color: #3F92D6;
    }

    &.c-dgreen {
      color:#56BCC0;
    }

    &.c-viol {
      color: #8556A7;
    }

    &.c-green {
      color: #8EC840;
    }

    &.c-orange {
      color: #EA702F;
    }
  }
}

.new-game-fab,
.back-fab,
.letter-fab {
  width: 46px;
  height: 46px;
}
